{% load static %}

<footer>
		<div class="container-fluid container-footer">

			<div class="row">

				<div class="col-md-4 footer-left">

					<a href="{% url 'home:index' %}" class="logo logo-footer">
						<div class="logo-cube">
							<div class="logo-wood">{{ info.big_word }}</div>
						</div>
						<div class="logo-arch">{{ info.thin_word }}</div>
					</a>

					<h3 class="middle-header">{{ left.header}}</h3>
					 <p>{{ left.description }}</p>

				</div>

				<div class="col-md-2 footer-nav">

					<nav class="footer-menu">
						<div class="header-wrap">
							<h3 class="middle-header">Меню</h3>
							<div class="decor-border"></div>
						</div>
						<ul>
              {% for m in info.menu.all %}
                {% if active_category == m.slug %}
                  <li class="active">{{ m.name }}</li>
                {% else %}
                  <li><a href="{{ m.get_absolute_url }}">{{ m.name }}</a></li>
                {% endif %}
              {% endfor %}

						</ul>
					</nav>

				</div>

				<div class="col-md-3 footer-nav">

					<nav class="footer-menu">
						<div class="header-wrap">
							<h3 class="middle-header">Услуги</h3>
							<div class="decor-border"></div>
						</div>

						<ul>
              {% for service in services %}
                {% if active_service_category == service.slug %}
                  <li class="active">{{ service.header }}</li>
                {% else %}
{#                  {{ active_service_category }}#}
							    <li><a href="{{ service.get_absolute_url }}">{{ service.header }}</a></li>
                {% endif %}
              {% endfor %}
						</ul>
					</nav>

				</div>

				<div class="col-md-3 footer-right">

					<h3 class="middle-header">{{ right.header }}</h3>
					<div class="decor-border"></div>
					<p>{{ right.description }}</p>
				
					<nav class="soc-footer">
						<ul>
              {% for soc in info.soc.all %}
                <li>
                  <div class="soc-border">

                    <a href="
                      {% if soc.link %}
                        {{ soc.link }}
                      {% else %}
                        {% url 'home:index' %}
                      {% endif %}
                      ">

                      <img src="{{ soc.icon.url }}" alt="{{ soc.name }}">
                    </a>
                  </div>
                </li>
              {% endfor %}
						
						</ul>
					</nav>
	
				</div>



			</div>

			<a href="{{ request.path }}#top" class="soc-border anchor-top">
				<i class="fa fa-angle-up"></i>
			</a>

		</div>
	</footer>

	<!-- <div class="tmp" style="height: 1000px; width: 100%"></div> -->
	
	<script src="{% static 'js/app.min.js' %}"></script>

</body>
</html>