<div class="top-wrap" id="top">
	<div class="top-line" >

		<a href="{% url 'home:index' %}" class="logo">
			<div class="logo-cube">
				<div class="logo-wood">{{ info.big_word }}</div>
			</div>
			<div class="logo-arch">{{ info.thin_word}}</div>
		</a>


		<div class="mobile-menu-button"><i class="fa fa-bars"></i>Меню</div>

		<nav class="menu top-menu">
			<ul>
				{% for category in main_menu %}
					{% if active_category == category.slug %}

						<li class="active">{{ category.name }}</li>
					{% else %}
				    <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
					{% endif %}
				{% endfor %}

			</ul>
		</nav>

		<nav class="soc">
			<ul>
        {% for soc in info.soc.all %}
          <li>

              {% if soc.link %}
                <a href="{{ soc.link }}"><img src="{{ soc.icon.url }}" alt="{{ soc.name }}"></a>
              {% else %}
                <a href="{% url 'home:index' %}"><img src="{{ soc.icon.url }}" alt="{{ soc.name }}"></a>
              {% endif %}

          </li>
        {% endfor %}
        

			</ul>
		</nav>

	</div>
</div>