<!--#include virtual="parts/header.html" -->

<div class="container-fluid sect-menu">
	<!--#include virtual="parts/menu.html" -->
</div>

<section class="benefits-section">
	<div class="container-fluid">

		<div class="row">
			
			<div class="col-md-3">

				<!--#include virtual="parts/aside.html" -->

			</div>

			<div class="col-md-9">

				<div class="row benefits">

					<h1 class="typography-header">Наши приемущества</h1>

					<div class="col-lg-4 col-md-6">
						<div class="about-item">

							<div class="about-item-header">
								<img class="icon" src="/images/dist/icons-src/test.svg" alt="">
								<h4>Безопасные материалы</h4>
							</div>
							<p>Безопасность каждого из используемых материалов подтверждается соответствующим сертификатом европейского стандарта. Мы используем продукцию только проверенных годами брендов.</p>
							<a href="#" class="about-link	read-more">подробнее</a>

						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="about-item">

							<div class="about-item-header">
								<img class="icon-wood" src="/images/dist/icons-src/wood-cut.svg" alt="">
								<h4>Безопасные материалы</h4>
							</div>
							<p>В создании неповторимых интерьеров мы используем только качественную, проверенную древесину, которая будет служить вам долгие годы, сохраняя свой безупречный первозданный внешний вид. Качественные материалы - долгий срок службы.</p>
							<a href="#" class="about-link	read-more">подробнее</a>
							
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="about-item">

							<div class="about-item-header">
								<img class="icon icon-team" src="/images/dist/icons-src/team.svg" alt="">
								<h4>Профессиональная команда</h4>
							</div>
							<p>Мы работаем только с професионалами высочайшего класса, обладающими глубоким опытом. Все наши дизайнеры, проектировщики, инженеры и архитекторы являются сертифицированными специалистами.</p>
							<a href="#" class="about-link	read-more">подробнее</a>

						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="about-item">

							<div class="about-item-header">
								<img class="icon icon-tools" src="/images/dist/icons-src/design-tool.svg" alt="">
								<h4>Лучшие креативные решения</h4>
							</div>
							<p>Мы никогда не пользуемся шаблонами и лекалами. Каждый наш проект уникален и разрабатывается индивидуально под каждого клиента. Только так можно создать по настоящему уникальный дизайн.</p>
							<a href="#" class="about-link	read-more">подробнее</a>

						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="about-item">

							<div class="about-item-header">
								<img class="icon-wood" src="/images/dist/icons-src/mat.svg" alt="">
								<h4>Безопасные материалы</h4>
							</div>
							<p>В своей работе мы уделяем особое внимание не только качеству древесины и основных строительных материалов, но и качеству расходных материалов, лаков, краски и химических средств.</p>
							<a href="#" class="about-link	read-more">подробнее</a>
							
						</div>
					</div>

					<div class="col-lg-4 col-md-6">
						<div class="about-item">

							<div class="about-item-header">
								<img class="icon icon-delivery" src="/images/dist/icons-src/delivery.svg" alt="">
								<h4>Проверенные поставщики</h4>
							</div>
							<p>Мы работаем исключительно с проверенными итальянскими, немецкими и французскими брендами. Наши партнёры-производители проходят тщательную проверку чтобы заслужить наше доверие.</p>
							<a href="#" class="about-link	read-more">подробнее</a>

						</div>
					</div>

				</div>

			</div>

		</div>

	</div>
</section>

<!--#include virtual="parts/footer.html" -->