{% extends 'base.html' %}
{% load index_tags %}


{% block content %}
<div class="container-fluid sect-menu">
  {% show_menu info main_menu active_category %}
</div>

<section class="blog blog-section">
	<div class="container-fluid">
		<div class="main-header">
			<h1 class="typography-header">{{ page_info.header }}</h1>
			<p class="desc">{{ page_info.description }}</p>
		</div>

		<div class="blog-content">
			<div class="row blog-wrap">

        {% for blog in page_obj %}
          <div class="col-lg-4 col-md-6">
            <div class="blog-item">

              <div class="item-wrap">
                <div class="img-blog overlay" style="background-image: url({{ blog.main_image.url }})"></div>
                <span class="date"><span>{{ blog.day }}</span> {{ blog.month }}</span>
                <h3>{{ blog.header }}</h3>
                <p>{{ blog.short }}</p>
                <a href="{{ blog.get_absolute_url }}" class="read-more">Читать полностью</a>
              </div>

            </div>
          </div>
        {% endfor %}

			</div>
		</div>


	</div>
</section>


{% endblock %}