<!--#include virtual="parts/header.html" -->

<div class="container-fluid sect-menu">
	<!--#include virtual="parts/menu.html" -->
</div>

<section class="blog blog-section">
	<div class="container-fluid">

		<div class="main-header">
			<h1 class="typography-header">Блог компании</h1>
			<p class="desc">Список новостей компании Woodtech на тему архитектурного дизайна, проектирования и дизайна интерьеров.</p>
		</div>

		<div class="blog-content">
			<div class="row blog-wrap">

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/portfolio/stairs-1.jpg)"></div>
							<span class="date"><span>12</span> июля</span>
							<h3>Построили потрясающую деревянную лестницу</h3>
							<p>Один из самых потрясающих проектов нашей компании - винтовая деревянная лестница в старинном стиле.</p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/portfolio/interior-7.jpg)"></div>
							<span class="date"><span>22</span> февраля</span>
							<h3>Деревянная финская сауна</h3>
							<p>Высокотехнологичная финская сауна, выполнена в современном стиле с использованием дорогих пород дерева</p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/other/tiara-villa.jpg)"></div>
							<span class="date"><span>15</span> мая</span>
							<h3>Удивительный, современный загородный дом</h3>
							<p>Загородная вилла построена по индивидуальному дизайну, разработанному специалистами проектного отдела нашей компании</p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/other/blueprints.jpg)"></div>
							<span class="date"><span>11</span> февраля</span>
							<h3>Глубокий опыт в разработке индивидуальных проектов</h3>
							<p>В нашем проектном бюро специалисты тесно обсуждают с заказчиком все этапы проектирования, воплотят в чертежах любое ваше пожелание. </p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/portfolio/interior-4.jpg)"></div>
							<span class="date"><span>12</span> августа</span>
							<h3>Уютная зеркальная комната для неформальных и дружеских встреч</h3>
							<p>Построеная чилаут зона в тёмных тонах создаёт атмосферу уюта и праздника, отвлекая от ежедневной суеты. </p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/portfolio/house-1.jpg)"></div>
							<span class="date"><span>08</span> декабря</span>
							<h3>Удивительный одноэтажный домик в стиле "Bunker-loft"</h3>
							<p>Очередной минималистичный проект был построен и сдан заказчику, при реализации данного проекта использовались только экологически чистые материалы.</p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/portfolio/interior-2.jpg)"></div>
							<span class="date"><span>29</span> марта</span>
							<h3>Уютная гостинная в светлых тонах</h3>
							<p>Современная гостинная завораживает глаза, дизайнерское решение с непривычным контрастом матового светлого пола и тёмного потолка.</p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/portfolio/installation-1.jpg)"></div>
							<span class="date"><span>25</span> августа</span>
							<h3>Фантастическая деревянная композиция "Мамонт"</h3>
							<p>Данная деревяннвя инсталяция произвела фурор на международной выставке современного искуства в Осло. </p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/portfolio/installation-2.jpg)"></div>
							<span class="date"><span>01</span> января</span>
							<h3>Футурестичная инсталяция "Столпы творения"</h3>
							<p>Жемчужина национального музея г. Нью-Йорк к созданию проекта которой приложила руку наша компания, прославила нашу компанию в западной прессе.</p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/other/planks.png)"></div>
							<span class="date"><span>13</span> декабря</span>
							<h3>Сильно расширили ассортимент материалов</h3>
							<p>Были достигнуты новые договорённости с различными европейскими производителями дерева. В разных ценовых категориях существенно увеличился ассортимент доступных материалов</p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/other/tools.jpg)"></div>
							<span class="date"><span>15</span> ноября</span>
							<h3>Снижена цена на реставрационные и ремонтные работы</h3>
							<p>Теперь при заключении договора с постоянными клиентами предоставляется накопительная скидка от 3% до 10% от полной стоимости работ.</p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="blog-item">

						<div class="item-wrap">
							<div class="img-blog overlay" style="background-image: url(images/dist/other/glossing.jpg)"></div>
							<span class="date"><span>09</span> апреля</span>
							<h3>Подарите вторую жизнь деревянным предметом с историей</h3>
							<p>Мы решили расширить ассортимент предоставляемых услуг и теперь готовы предоставлять нашим клиентам помощь с ремонтом и реставрацией мебели и любых деревянных изделий.</p>
							<a href="#" class="read-more">Читать полностью</a>
						</div>

					</div>
				</div>


			</div>
		</div>

		<div class="pagination-section">
			<div class="pagination">
				<span class="pagination-left" title="Предыдущая страница"><i class="fa fa-long-arrow-left"></i> Назад</span>
				<span class="num active">1</span>
				<a class="num" href="#">2</a>
				<a class="num" href="#">3</a>
				<a href="#" class="pagination-right" title="Следующая страница">Вперёд <i class="fa fa-long-arrow-right"></i></a>
			</div>
		</div>

	</div>
</section>


<!--#include virtual="parts/footer.html" -->