{% extends 'base.html' %}
{% load index_tags %}
{% load static %}

{% block title %} - {{ info.feedback_header }}{% endblock %}

{% block content %}
<div class="container-fluid sect-menu">
  {% show_menu info main_menu active_category %}
</div>

<section class="feedback-section">
	<div class="container-fluid">

		<h1>{{ info.feedback_header }}</h1>
		<p>{{ info.feedback_short }}</p>

		<form action="#">
			<!-- <main class="form-wrap"> -->
				<input type="text" class="form-input" type="text" placeholder="Ваше имя...">
				<input type="text" class="form-input" type="text" placeholder="Ваш телефон...">
				<textarea name="Message" class="form-input" placeholder="Сообщение..."></textarea>
				<div class="button" type="submit">Отправить сообщение</div>
			<!-- </main> -->
		</form>

	</div>
</section>

<section class="contacts-section">
	<div class="container-fluid">

		<h2 class="regular-header">Наши контакты</h2>

			<div class="adress">
				<img src="{% static 'image/icons-src/mapmarker.svg' %}" alt="alt" class="map">
        {{ info.address }}
			</div>

			<div class="phone">{{ info.phone }}</div>

			<div class="img-map">
        {{ info.map|safe }}
      </div>

	</div>
</section>

{% endblock %}