<!--#include virtual="parts/header.html" -->

<div class="container-fluid sect-menu">
	<!--#include virtual="parts/menu.html" -->
</div>

<section class="feedback-section">
	<div class="container-fluid">

		<h1>Обратная связь</h1>
		<p>Задайте нам любой вопрос, напишите или сделайте заказ. Наши менеджеры ответят вам в любое время.</p>

		<form action="#">
			<!-- <main class="form-wrap"> -->
				<input type="text" class="form-input" type="text" placeholder="Ваше имя...">
				<input type="text" class="form-input" type="text" placeholder="Ваш телефон...">
				<textarea name="Message" class="form-input" placeholder="Сообщение..."></textarea>
				<div class="button" type="submit">Отправить сообщение</div>
			<!-- </main> -->
		</form>

	</div>
</section>

<section class="contacts-section">
	<div class="container-fluid">

		<h2 class="regular-header">Наши контакты</h2>

			<div class="adress">
				<img src="/images/dist/icons-src/mapmarker.svg" alt="alt" class="map">
					Москва, пр. Скулатова, 224, оф. 3.
			</div>

			<div class="phone">+7 (995) 246-75-35</div>

			<div class="img-map" style="background-image: url(images/dist/other/map.jpg)"></div>

	</div>
</section>

<!--#include virtual="parts/footer.html" -->