{% extends 'base.html' %}
{% load static %}

{% load index_tags %}

{% block title %} {{ info.thin_word }} - Главная{% endblock %}

{% block content %}
<body>

	<header class="head container-fluid">

		{% show_menu info main_menu active_category %}


		<div class="slider-text">
			<div class="swiper-wrapper">
        {% for slide in slides %}

          <div class="swiper-slide slider-text__slide">
            <div class="slider-text__content">
              <div class="slider-text__title" data-swiper-parallax="-20%">{{ slide.header }}</div>
              <div class="slider-text__header" data-swiper-parallax="-150%">{{ slide.header_accent }}</div>
              <p class="slider-text__desc" data-swiper-parallax="-130%">{{ slide.text }}</p>
            </div>
          </div>

        {% endfor %}


			</div>
		</div>


		<div class="slider-img">
			<div class="swiper-wrapper">

        {% for slide in slides %}

          <div class="swiper-slide slider-img__slide">

{#              {% thumbnail slide.image "1089x650" crop="center" quality=80 as im  %}#}
                <div class="slider-img__slide">
                  <div class="slider-img__bg" data-swiper-parallax="30%" style="background-image: url({{ slide.image.url }})"></div>
                </div>
{#              {% endthumbnail %}#}
          </div>

        {% endfor %}

			</div>

		</div>

		<div class="nav-panel">

			<div class="slider-pagination-count">
				<span class="current">01</span><span class="total">0</span>
			</div>

			<div class="slider-scrollbar">
				<div class="swiper-scrollbar"></div>
			</div>

			<div class="slider-navigation">
				<div class="slider-navigation-container">
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>

			</div>
		</div>

	</header>

	<section class="section-trust">
		<div class="container-fluid container-deep">
			<div class="row">

				<div class="col-lg-9">

					<div class="rtust-header-wrap">
						<h2 class="trust-header middle-header">{{ index_info.sect_trust_header }}</h2>
					</div>

					<div class="trust-list">

						<div class="d-none d-lg-block">
							<div class="row">


                  {% for item in index_info.trustitem_set.all %}
                    <div class="col-sm-4 trust-list__col">
                      <p class="small-text"><span>{{ item.count }}</span> {{ item.string}}</p>
                    </div>
                  {% endfor %}

									
							</div>
						</div>

						<div class="d-lg-none">
							<div class="row row-sm">


                  {% for item in index_info.trustitem_set.all %}
                    <div class="col-sm-6 trust-list__col">
                      <p class="small-text"><span>{{ item.count }}</span> {{ item.string}}</p>
                    </div>
                  {% endfor %}


							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-3">
					<div class="trust-content">

						<div class="trust-content__title">{{ index_info.sect_trust_text }}</div>

						<div class="trust-content__phone">{{ info.phone }}</div>

						<a href="{% url 'home:feedback' 'feedback' %}" class="button trust-content__button">Оформить заявку сейчас</a>

					</div>
				</div>


			</div>
		</div>
	</section>

	<section class="projects">

			<div class="projects-top container-fluid">
				<div class="row">

					<div class="col-md-6 order-lg-1  order-md-1 order-sm-2 order-2">
						<p class="small-text">{{ index_info.sect_projects_text }}</p>
					</div>

					<div class="decor-line"></div>

					<div class="col-md-6 order-lg-2  order-md-2 order-sm-1 order-1">

						<p class="right">\\{{ index_info.sect_projects_accent}}</p>
						<h2>{{ index_info.sect_projects_header}}</h2>

					</div>

					<!-- кнопка для больших разрешений -->
					<div class="button-wrap-large d-none d-md-flex">
						<a href="{%  url 'home:projects' 'projects' %}" class="button projects-button">Показать ещё</a>
					</div>

				</div>
			</div>

			<div class="projects-bot container-fluid">
				<div class="row">
          {% for project in projects %}
					  <div class="col-md-4">

						  <a href="{{ project.get_absolute_url }}" class="projects-item">

							  <div class="pattern">

									<div class="corner corner1"></div>
									<div class="corner corner2"></div>
									<div class="corner corner3"></div>
									<div class="corner corner4"></div>

								  <div class="overlay projects-item-img" style="background-image: url({{ project.main_image.url }})"></div>
							  </div>

                <div class="projects-item__content">

                  <div class="projects-item__content-adress">
                    <img src="{% static 'image/icons-src/mapmarker.svg' %}" alt="alt" class="map">
                    {{ project.address }}
                  </div>

                  <div class="dots">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                  </div>

                  <div class="projects-item__content-header">
                    <h3>{{ project.name}}</h3>
                  </div>

                </div>
						  </a>

					  </div>
          {% endfor %}



					<!-- кнопка для небольших разрешений -->
					<div class="col-md-12">
						<div class="button-wrap-small d-md-none">
							<a href="{% url 'home:projects' 'projects' %}" class="button projects-button">Показать ещё</a>
						</div>
					</div>

				</div>



			</div>

	</section>

	<section class="section-about">
		<div class="about container-fluid">
			<div class="row">

				<div class="col-lg-5 col-md-6 about-left">

					<div class="about-left-decor"></div>

					<div class="about-image" style="background-image: url({{ index_info.sect_about_image.url }})">

						<div class="about-left-desc">
							<span>{{ index_info.sect_about_frame_number }}</span>
							<p>{{ index_info.sect_about_frame_string}}</p>
						</div>
					
					</div>

				</div>

				<div class="col-md-6 offset-lg-1 about-right">

					<div class="row">
						<div class="col-md-12">

							<div class="top">

								<span>{{ index_info.sect_about_accent }}</span>
								<h3 class="regular-header">{{ index_info.sect_about_header}}</h3>

								<div class="dots dots-horizontal">
									<div class="dot"></div>
									<div class="dot"></div>
									<div class="dot"></div>
								</div>

								<p>{{ index_info.sect_about_text }}</p>

							</div>
							
						</div>
					</div>

					<div class="row">

            {% for benefit in benefits %}

              <div class="col-sm-6">
                <div class="about-item">

                  <div class="about-item-header">
                    <img class="icon icon-list" src="{{ benefit.icon.url }}" alt="alt">
                    <h4>{{ benefit.header }}</h4>
                  </div>
                  <p>{{ benefit.short }}</p>
                  <a href="{{ benefit.get_absolute_url }}" class="about-link	read-more">подробнее</a>
                </div>
              </div>
            {% endfor %}

					</div>

				</div>

			</div>
		</div>
	</section>

	<section class="partners">
		<div class="container-fluid overlay" style="background-image: url({{ index_info.sect_partners_background.url }})">
			
			<h2 class="regular-header">{{ index_info.sect_partners_header }}</h2>

			<div class="slider-partners">
				<div class="swiper-wrapper">

          {% for partner in partners %}
            <div class="swiper-slide swiper-slide-{{ forloop.counter }}" data-swiper-autoplay="2000">

              <a href="{% url 'home:partners' 'partners' %}">
                <img src="{{ partner.label.url }}" alt="{{ partner.name }}" class="milano">
              </a>

              <p><span>{{ partner.name }}</span> - {{ partner.short }}</p>
            </div>
          {% endfor %}


				</div>
			</div>
		
		</div>
	</section>

	<section class="blog">
		<div class="container-fluid">

			<h2 class="regular-header">Наш блог</h2>

			<div class="row blog-wrap">

        {% for blog in blogs %}
          <div class="col-md-4">
            <div class="blog-item">
              <div class="item-wrap">
                <img src="{{ blog.main_image.url }}" alt="" class="img-blog img-responsive">
                <span class="date"><span>{{ blog.day }}</span> {{ blog.month }}</span>
                <h3>{{ blog.header }}</h3>
                <p>{{ blog.short }}</p>
                <a href="{{ blog.get_absolute_url }}" class="read-more">Читать полностью</a>
              </div>
            </div>
          </div>
        {% endfor %}

				<div class="col-md-4">
					<div class="item-more">
						<div class="overlay" style="background-image: url({{ index_info.sect_blog_background_more.url }})">
							<a href="{% url 'home:blog' 'blog' %}">Перейти ко всем записям блога</a>
						</div>
						
					</div>
				</div>

			</div>

			<div class="decor-borders">
				<div class="decor-border border1"></div>
				<div class="decor-border border2"></div>
				<div class="decor-border border3"></div>
			</div>

		</div>
	</section>


	{% endblock %}
