{% extends 'base.html' %}
{% load index_tags %}

{% block title %} - {{ page_info.header }}{% endblock %}

{% block content %}
<div class="sect-menu container-fluid">
  {% show_menu info main_menu active_category %}
</div>

<div class="partners-section">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-3">

        {% show_aside active_about_category %}

			</div>

			<div class="col-md-9">

				<div class="row partners-items">

					<h1 class="typography-header">{{ page_info.header }}</h1>

          {% for partner in partners %}
            <div class="col-sm-12">
              <div class="partners-item">

                <div class="partners-item-logo">
                  <img src="{{ partner.label.url }}" alt="{{ partner.name }}" class="img-milano">
                </div>

                <div class="partners-item-desc">
                  <h3>{{ partner.name }}</h3>
                  <p class="regulap-text">{{ partner.text }}</p>
                </div>

              </div>
            </div>
          {% endfor %}

				</div>

			</div>

		</div>
	</div>
</div>
{% endblock %}


<!--#include virtual="parts/footer.html" -->