{% extends 'base.html' %}
{% load index_tags %}

{% block title %} - {{ page_info.header }}{% endblock %}

{% block content %}
<div class="container-fluid sect-menu">
  {% show_menu info main_menu active_category %}
	
</div>

<section class="ourprojects">
	
	<div class="container-fluid">

			<div class="header-wrap">
				<h2 class="text-center">{{ page_info.header }}</h2>
				<p>{{ page_info.description }}</p>
			</div>

      {% for sect in lst %}
        {% if forloop.counter|is_first %}

          <div class="sect-1">
          <div class="row">

            <div class="col-md-4">
              <div class="row">

                  <div class="col-sm-12">

                    <div class="overlay our-item" style="background-image: url({{ sect.0.main_image.url }})">

                    <div class="our-item-content">
                      <p>{{ sect.0.client }}</p>
                      <h4 class="middle-header">{{ sect.0.name}}</h4>
                      <a class="read-more" href="{{ sect.0.get_absolute_url }}">Ознакомиться</a>
                    </div>

                  </div>

                </div>


                <div class="col-sm-12">

                  <div class="overlay our-item" style="background-image: url({{ sect.1.main_image.url }})">

                    <div class="our-item-content">
                      <p>{{ sect.1.client}}</p>
                      <h4 class="middle-header">{{ sect.1.name}}</h4>
                      <a class="read-more" href="{{ sect.1.get_absolute_url }}">Ознакомиться</a>
                    </div>

                  </div>

                </div>

              </div>
            </div>

            <div class="col-md-4">

              <div class="overlay our-item our-item__long" style="background-image: url({{ sect.2.main_image.url }})">

                <div class="our-item-content">
                  <p>{{ sect.2.client }}</p>
                  <h4 class="middle-header">{{ sect.2.name}}</h4>
                  <a class="read-more" href="{{ sect.2.get_absolute_url}}">Ознакомиться</a>
                </div>

              </div>

            </div>

            <div class="col-md-4">
              <div class="row">

                <div class="col-sm-12">

                  <div class="overlay our-item" style="background-image: url({{ sect.3.main_image.url }})">

                    <div class="our-item-content">
                      <p>{{ sect.3.client }}</p>
                      <h4 class="middle-header">{{ sect.3.name }}</h4>
                      <a class="read-more" href="{{ sect.3.get_absolute_url }}">Ознакомиться</a>
                    </div>

                  </div>

                </div>

                <div class="col-sm-12">

                  <div class="overlay our-item" style="background-image: url({{ sect.4.main_image.url }})">

                    <div class="our-item-content">
                      <p>{{ sect.4.client }}</p>
                      <h4 class="middle-header">{{ sect.4.name }}</h4>
                      <a class="read-more" href="{{ sect.4.get_absolute_url }}">Ознакомиться</a>
                    </div>

                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>

        {% else %}

          <div class="sect-2">
          <div class="row">

            <div class="col-md-4">

              <div class="overlay our-item our-item__long" style="background-image: url({{ sect.0.main_image.url }})">

                <div class="our-item-content">
                  <p>{{ sect.0.client }}</p>
                  <h4 class="middle-header">{{ sect.0.name }}</h4>
                  <a class="read-more" href="{{ sect.0.get_absolute_url }}">Ознакомиться</a>
                </div>

              </div>

            </div>

            <div class="col-md-4">
              <div class="row">

                <div class="col-sm-12">

                  <div class="overlay our-item" style="background-image: url({{ sect.1.main_image.url }})">

                    <div class="our-item-content">
                      <p>{{ sect.1.client }}</p>
                      <h4 class="middle-header">{{ sect.1.name }}</h4>
                      <a class="read-more" href="{{ sect.1.get_absolute_url }}">Ознакомиться</a>
                    </div>

                  </div>

                </div>

                <div class="col-sm-12">

                  <div class="overlay our-item" style="background-image: url({{ sect.2.main_image.url }})">

                    <div class="our-item-content">
                      <p>{{ sect.2.client }}</p>
                      <h4 class="middle-header">{{ sect.2.name }}</h4>
                      <a class="read-more" href="{{ sect.2.get_absolute_url }}">Ознакомиться</a>
                    </div>

                  </div>

                </div>

              </div>
            </div>

            <div class="col-md-4">

              <div class="overlay our-item our-item__long" style="background-image: url({{ sect.3.main_image.url }})">

                <div class="our-item-content">
                  <p>{{ sect.3.client }}</p>
                  <h4 class="middle-header">{{ sect.3.name }}</h4>
                  <a class="read-more" href="{{ sect.3.get_absolute_url }}">Ознакомиться</a>
                </div>

              </div>

            </div>


        </div>
      </div>

        {% endif %}
      {% endfor %}


	</div>
</section>

{% endblock %}