{% extends 'base.html' %}
{% load index_tags %}

{% load static %}


{% block content %}
  <div class="container-fluid sect-menu">
    {% show_menu info main_menu active_category %}
  </div>

  <section class="project">
    <div class="container-fluid">

      <nav class="breadcrumb">
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="{% url 'home:projects' 'projects' %}">Проекты</a></li>
          <li class="active">{{ project.name }}</li>
        </ul>
      </nav>

      <div class="adress">
        <img src="{% static 'image/icons-src/mapmarker.svg' %}" alt="" class="map">
        {{ project.address }}
      </div>

      <div class="slider-project">
        <div class="swiper-wrapper">

          <div class="swiper-slide slider-project__slide">
            <div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url({{ project.main_image.url }})"></div>
          </div>

          {% if slides %}
            {% for slide in slides %}
              <div class="swiper-slide slider-project__slide">
                <div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url({{ slide.photo.url }})"></div>
              </div>
            {% endfor %}

          {% endif %}


        </div>
      </div>

      <div class="slider-thumb">
        <div class="swiper-wrapper">

          <div class="swiper-slide slider-thumb__slide">
            <div class="slider-thumb__bg" data-swiper-parallax="0%" style="background-image: url({{ project.main_image.url }})"></div>
          </div>

          {% if slides %}
            {% for slide in slides %}
              <div class="swiper-slide slider-thumb__slide">
                <div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url({{ slide.photo.url }})"></div>
              </div>
            {% endfor %}

          {% endif %}

        </div>
      </div>

      <article class="project-article">

        <h2 class="typography-header">{{ project.name }}</h2>

        <div class="row">

          <div class="col-md-8">

            {{ project.article|safe }}

          </div>

          <div class="col-md-4 article-right">

            <div class="h3">Старший архитектор</div>
            <img src="/images/dist/other/architector.png" alt="alt">
            <span>Евгений Григорьев</span>
            <p class="small-text">Выпускник гарвардского университета, кандидат наук, профессиональный архитектор. В общей сложности реализовал более 120 проектов.</p>
            <div class="info">
              <span class="info-header">Информация о проекте</span>
              <ul>
                <li>
                  <span class="more-dots">.............................................................................................................................................</span>
                  <p class="info-p">Заказчик</p> <span>Частное лицо</span>
                </li>
                <li>
                  <span class="more-dots">........................................................................................................</span>
                  <p class="info-p">Площадь</p> <span><i>24</i> кв. м.</span>
                </li>
                <li>
                  <span class="more-dots">.............................................................................................................................................</span>
                  <p class="info-p">Время разработки</p> <span><i>3</i> недели</span>
                </li>
                <li>
                  <span class="more-dots">.............................................................................................................................................</span>
                  <p class="info-p">Высота потолка</p> <span><i>3,4</i> метра</span>
                </li>
                <li>
                  <span class="more-dots">.............................................................................................................................................</span>
                  <p class="info-p">Толщина стены</p> <span><i>40</i> сантиметров</span>
                </li>
                <li>
                  <span class="more-dots">.............................................................................................................................................</span>
                  <p class="info-p">Толщина стены</p> <span><i></i></span>
                </li>
              </ul>
            </div>
          </div>

        </div>

      </article>

    </div>
  </section>
{% endblock %}
