{% extends 'base.html' %}
{% load index_tags %}


{% load static %}

{% block title %} - {{ project.name }}{% endblock %}


{% block content %}
  <div class="container-fluid sect-menu">
    {% show_menu info main_menu active_category %}
  </div>

  <section class="project">
    <div class="container-fluid">

      <nav class="breadcrumb">
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="{% url 'home:projects' 'projects' %}">Проекты</a></li>
          <li class="active">{{ project.name }}</li>
        </ul>
      </nav>

      <div class="adress">
        <img src="{% static 'image/icons-src/mapmarker.svg' %}" alt="map" class="map">
        {{ project.address }}
      </div>

      <div class="slider-project">
        <div class="swiper-wrapper">

          <div class="swiper-slide slider-project__slide">
            <div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url({{ project.main_image.url }})"></div>
          </div>

          {% if slides %}
            {% for slide in slides %}
              <div class="swiper-slide slider-project__slide">
                <div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url({{ slide.photo.url }})"></div>
              </div>
            {% endfor %}

          {% endif %}


        </div>
      </div>

      <div class="slider-thumb">
        <div class="swiper-wrapper">

          <div class="swiper-slide slider-thumb__slide">
            <div class="slider-thumb__bg" data-swiper-parallax="0%" style="background-image: url({{ project.main_image.url }})"></div>
          </div>

          {% if slides %}
            {% for slide in slides %}

                <div class="swiper-slide slider-thumb__slide">
                  <div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url({{ slide.photo.url }})"></div>
                </div>

            {% endfor %}

          {% endif %}

        </div>
      </div>

      <article class="project-article">

        <h2 class="typography-header">{{ project.name }}</h2>

        <div class="row">

          <div class="col-md-8">

            {{ project.article|safe }}

          </div>

          <div class="col-md-4 article-right">

            <div class="h3">{{ worker.profession }}</div>
            <img src="{{ worker.photo.url }}" alt="{{ worker.profession }}">
            <span>Евгений Григорьев</span>
            <p class="small-text">{{ worker.description }}</p>
            <div class="info">
              <span class="info-header">Информация о проекте</span>
              <ul>

                {% for char in chars %}
                  <li>
                    <span class="more-dots">........................................................................................................</span>
                    <p class="info-p">{{ char.name }}</p> <span><i>{{ char.number }} </i>{{ char.words }}</span>
                  </li>
                {% endfor %}

              </ul>
            </div>
          </div>

        </div>

      </article>

    </div>
  </section>
{% endblock %}
