<!--#include virtual="parts/header.html" -->

<div class="container-fluid sect-menu">
	<!--#include virtual="parts/menu.html" -->
</div>

<section class="project">
	<div class="container-fluid">

		<nav class="breadcrumb">
			<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="#">Проекты</a></li>
				<li class="active">Панорамная чилаут зона для чтения и отдыха</li>
			</ul>
		</nav>

		<div class="adress">
			<img src="/images/dist/icons-src/mapmarker.svg" alt="" class="map">
			Санкт-Петербург, Английский Пр.
		</div>

		<div class="slider-project">
			<div class="swiper-wrapper">

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/house-1.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/house-2.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/installation-1.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/installation-2.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-1.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-2.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-3.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-4.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-5.1.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-5.2.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-6.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-7.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-8.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-9.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-10.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-11.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/interior-12.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/stairs-1.jpg)"></div>
				</div>

				<div class="swiper-slide slider-project__slide">
					<div class="slider-project__bg" data-swiper-parallax="30%" style="background-image: url(images/dist/portfolio/stairs-2.jpg)"></div>
				</div>

				
			</div>
		</div>

		<div class="slider-thumb">
			<div class="swiper-wrapper">

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0%" style="background-image: url(images/dist/portfolio/house-1.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/house-2.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/installation-1.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/installation-2.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-1.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-2.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-3.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-4.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-5.1.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-5.2.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-6.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-7.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-8.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-9.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-10.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-11.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/interior-12.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/stairs-1.jpg)"></div>
				</div>

				<div class="swiper-slide slider-thumb__slide">
					<div class="slider-thumb__bg" data-swiper-parallax="0" style="background-image: url(images/dist/portfolio/stairs-2.jpg)"></div>
				</div>

				
			</div>
		</div>

		<article class="project-article">

			<h2 class="typography-header">Панорамная чилаут зона для чтения и отдыха</h2>

			<div class="row">

				<div class="col-md-8">

					<p class="regular-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных .</p>

					<img src="/images/dist/other/plan.jpg" alt="alt" class="img-responsive img-project">

					<p class="regular-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных .</p>

					<img src="/images/dist/other/picture.jpg" alt="alt" class="img-responsive img-project">

					<p class="regular-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных .</p>

					<img src="/images/dist/portfolio/interior-5.2.jpg" alt="alt" class="img-responsive img-project">

					<p class="regular-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных .</p>

					<img src="/images/dist/portfolio/house-1.jpg" alt="alt" class="img-responsive img-project">

					<p class="regular-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных .</p>


				</div>

				<div class="col-md-4 article-right">

					<div class="h3">Старший архитектор</div>
					<img src="/images/dist/other/architector.png" alt="alt">
					<span>Евгений Григорьев</span>
					<p class="small-text">Выпускник гарвардского университета, кандидат наук, профессиональный архитектор. В общей сложности реализовал более 120 проектов.</p>
					<div class="info">
						<span class="info-header">Информация о проекте</span>
						<ul>
							<li>
								<span class="more-dots">.............................................................................................................................................</span>
								<p class="info-p">Заказчик</p> <span>Частное лицо</span>
							</li>
							<li>
								<span class="more-dots">........................................................................................................</span>
								<p class="info-p">Площадь</p> <span><i>24</i> кв. м.</span>
							</li>
							<li>
								<span class="more-dots">.............................................................................................................................................</span>
								<p class="info-p">Время разработки</p> <span><i>3</i> недели</span>
							</li>
							<li>
								<span class="more-dots">.............................................................................................................................................</span>
								<p class="info-p">Высота потолка</p> <span><i>3,4</i> метра</span>
							</li>
							<li>
								<span class="more-dots">.............................................................................................................................................</span>
								<p class="info-p">Толщина стены</p> <span><i>40</i> сантиметров</span>
							</li>
							<li>
								<span class="more-dots">.............................................................................................................................................</span>
								<p class="info-p">Толщина стены</p> <span><i></i></span>
							</li>
						</ul>
					</div>
				</div>
				
			</div>

		</article>

	</div>
</section>

<!--#include virtual="parts/footer.html" -->