<!--#include virtual="parts/header.html" -->

<div class="container-fluid sect-menu">
	
	<!--#include virtual="parts/menu.html" -->
	
</div>

<section class="ourprojects">
	
	<div class="container-fluid">

			<div class="header-wrap">
				<h2 class="text-center">Наши проекты</h2>
				<p>Представляем вашему вниманию лучшие работы нашей студии дизайна. От потрясающих гостинных до самых необычных эксклюзивных решений.</p>
			</div>
			
		<div class="sect-1">
			<div class="row">

				<div class="col-md-4">
					<div class="row">

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/interior-4.jpg)">
								
								<div class="our-item-content">
									<p>Заказчик: Компания ""Арес""</p>
									<h4 class="middle-header">Холл для гостей</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/interior-3.jpg)">
								
								<div class="our-item-content">
									<p>Заказчик: Компания ""Ampir""</p>
									<h4 class="middle-header">Спальная комната</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

					</div>
				</div>

				<div class="col-md-4">

					<div class="overlay our-item our-item__long" style="background-image: url(images/dist/portfolio/interior-8.jpg)">
								
						<div class="our-item-content">
							<p>Заказчик: Компания ""Design-technology""</p>
							<h4 class="middle-header">Гостинная чилаут зона</h4>
							<a class="read-more" href="#">Ознакомиться</a>
						</div>

					</div>

				</div>

				<div class="col-md-4">
					<div class="row">

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/interior-7.jpg)">
								
								<div class="our-item-content">
									<p>г. Москва, частное лицо</p>
									<h4 class="middle-header">Финская сауна</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/interior-6.jpg)">
								
								<div class="our-item-content">
									<p>г. Ростов-На-Дону, частное лицо</p>
									<h4 class="middle-header">Спальная комната</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

					</div>
				</div>

				<div class="col-md-4"></div>

			</div>
		</div>
			
		<div class="sect-2">
			<div class="row">

				<div class="col-md-4">

					<div class="overlay our-item our-item__long" style="background-image: url(images/dist/portfolio/interior-1.jpg)">
								
						<div class="our-item-content">
							<p>Заказчик: Клиника ""Musthave""</p>
							<h4 class="middle-header">Приёмная комната</h4>
							<a class="read-more" href="#">Ознакомиться</a>
						</div>

					</div>

				</div>

				<div class="col-md-4">
					<div class="row">

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/installation-1.jpg)">
								
								<div class="our-item-content">
									<p>г. Москва, твц ""Олимп""</p>
									<h4 class="middle-header">Инсталяция "Мамонт"</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/interior-9.jpg)">
								
								<div class="our-item-content">
									<p>г. Армавир, частное лицо</p>
									<h4 class="middle-header">Гостевая комната</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

					</div>
				</div>

				<div class="col-md-4">

					<div class="overlay our-item our-item__long" style="background-image: url(images/dist/portfolio/interior-10.jpg)">
								
						<div class="our-item-content">
							<p>Заказчик: Компания ""Carbonit""</p>
							<h4 class="middle-header">Гостинная с абажуром</h4>
							<a class="read-more" href="#">Ознакомиться</a>
						</div>

					</div>

				</div>


			</div>
		</div>

		<div class="sect-1">
			<div class="row">

				<div class="col-md-4">
					<div class="row">

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/house-1.jpg)">
								
								<div class="our-item-content">
									<p>r. Батайск, частное лицо</p>
									<h4 class="middle-header">Загородный дом</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/stairs-1.jpg)">
								
								<div class="our-item-content">
									<p>Заказчик: Компания ""Golden Eggs""</p>
									<h4 class="middle-header">Лестница в стиле позднего рококо</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

					</div>
				</div>

				<div class="col-md-4">

					<div class="overlay our-item our-item__long" style="background-image: url(images/dist/portfolio/interior-12.jpg)">
								
						<div class="our-item-content">
							<p>г. Аксай, частное лицо</p>
							<h4 class="middle-header">Гостинная в минималистичном стиле</h4>
							<a class="read-more" href="#">Ознакомиться</a>
						</div>

					</div>

				</div>

				<div class="col-md-4">
					<div class="row">

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/interior-5.1.jpg)">
								
								<div class="our-item-content">
									<p>Заказчик: Компания ""Альбатрос""</p>
									<h4 class="middle-header">Комната для чтения в стиле "Lost-arhc"</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/interior-1.jpg)">
								
								<div class="our-item-content">
									<p>г. Новороссийск, частное лицо</p>
									<h4 class="middle-header">Зал в стиле "New-age"</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
					
		<div class="sect-2">
			<div class="row">

				<div class="col-md-4">

					<div class="overlay our-item our-item__long" style="background-image: url(images/dist/portfolio/interior-5.2.jpg)">
								
						<div class="our-item-content">
							<p>Заказчик: SPA-complex ""Cheburello""</p>
							<h4 class="middle-header">Витражная зона</h4>
							<a class="read-more" href="#">Ознакомиться</a>
						</div>

					</div>

				</div>

				<div class="col-md-4">
					<div class="row">

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/installation-2.jpg)">
								
								<div class="our-item-content">
									<p>г. Москва, твц ""Eclypse""</p>
									<h4 class="middle-header">Инсталяция "Бесконечность"</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

						<div class="col-sm-12">

							<div class="overlay our-item" style="background-image: url(images/dist/portfolio/house-2.jpg)">
								
								<div class="our-item-content">
									<p>г. Тверь, частное лицо</p>
									<h4 class="middle-header">Загородный дом</h4>
									<a class="read-more" href="#">Ознакомиться</a>
								</div>

							</div>

						</div>

					</div>
				</div>

				<div class="col-md-4">

					<div class="overlay our-item our-item__long" style="background-image: url(images/dist/portfolio/interior-4.jpg)">
								
						<div class="our-item-content">
							<p>Гостиница ""Terrakot""</p>
							<h4 class="middle-header">Конгрес холл</h4>
							<a class="read-more" href="#">Ознакомиться</a>
						</div>

					</div>

				</div>

				<div class="col-md-4"></div>

			</div>
		</div>

	</div>
</section>

<!-- <div class="container-fluid" style="width: 100%; height: 1000px"></div> -->

<!--#include virtual="parts/footer.html" -->