{% extends 'base.html' %}
{% load index_tags %}

{% block title %} - {{ page_info.header }}{% endblock %}

{% block content %}
<div class="container-fluid sect-menu">
  {% show_menu info main_menu active_category %}
</div>

<section class="services">
	<div class="container-fluid">

		<div class="main-header">
			<h1 class="typography-header">{{ page_info.header }}</h1>
			<p class="desc">{{ page_info.description }}</p>
		</div>

		<div class="services-content">

			<div class="row services-row">

				<div class="row stretch">

          {% for service in services %}
            <div class="col-md-6 item-wrap">
              <a href="{{ service.get_absolute_url }}" class="services-content-item">
                <div class="row">

                  <div class="col-sm-6  item-content">
                    <h3>{{ service.header }}</h3>
                    <p class="small-text">{{ service.short }}</p>
                  </div>

                  <div class="col-sm-6">
                    <div class="overlay services-img" style="background-image: url({{ service.image.url }})"></div>
                  </div>

                </div>
              </a>
            </div>
          {% endfor %}

				</div>

			</div>

		</div>

	</div>
</section>

<div class="btn">

	<a href="#" class="button">Оформить заявку</a>

</div>

{% endblock %}